<h1><%= @track.title %></h1>
<p><%= @track.ord %></p>

<a href="<%= edit_track_url %>">Edit</a>

<form action="<%= track_url(@track) %>" method="post">
  <%= csrf_token %>
  <input type="hidden" name="_method" value="delete" />
  <button>Delete</button>
</form>

<h2>Notes</h2>
<% @track.notes.each do |note| %>
  <%= render note %>
<% end %>

<a href="<%= new_track_note_url(@track) %>">Add note</a>