<% @bands.each do |band| %>
  <ul>
    <li>
      <a href="<%= band_url(band) %>"><%= band.name %></a>

      <%= show_if_current_user_is_admin do %>
          <form action="<%= band_url(band) %>" method="post">
            <input type="hidden" name="_method" value="delete" >
            <%= csrf_token %>
            <button>Destroy</button>
          </form>
        </li>
      </ul>
    <% end %>
<% end %>

<br>
<br>

<%= show_if_current_user_is_admin do %>
  <a href="<%= new_band_url %>">New</a>
<% end %>
