<h1><%= @band.name %></h1>

<br>
<br>

<h1>Albums</h1>
<% @band.albums.each do |album| %>
  <ul>
    <li>
      <%= render "albums/album", album: album %>
    </li>
  </ul>
<% end %>

<a href="<%= bands_url %>">Index</a>

<%= show_if_current_user_is_admin do %>
  <a href="<%= edit_band_url %>">Edit</a>
  <a href="<%= new_band_album_url(@band) %>">New Album</a>
<% end %>
